
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-6">

                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.d1</h3>
                                <p>Toplam Cari</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">

                                <h3>@ViewBag.d2</h3>

                                <p>Ürün Sayısı</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>@ViewBag.d3</h3>

                                <p>Personel Sayısı</p>
                            </div>


                        </div>


                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">

                                <div class="clearfix"></div>

                                <h3>@ViewBag.d4</h3>

                                <p>Kategori Sayısı</p>

                            </div>


                    </div>

                </div>

         

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.d5</h3>
                                <p>Toplam Stok</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>@ViewBag.d6</h3>

                                <p>Marka Sayısı</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>@ViewBag.d7</h3>

                                <p>Kritik Seviye</p>



                            </div>

                        </div>

                    </div>


                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-pink">
                            <div class="inner">
                                <h3>@ViewBag.d8</h3>
                                <p>Max Fiyatlı Ürün</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>@ViewBag.d9</h3>
                                <p>Min Fiyatlı Ürün</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-pink">
                            <div class="inner">
                                <h3>@ViewBag.d10</h3>
                                <p>Buzdolabı Sayısı</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>@ViewBag.d11</h3>

                                <p>Laptop Sayısı</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.d12</h3>
                                <p>En Çok Satan</p>
                            </div>


                        </div>

                    </div>

                   
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>@ViewBag.d14</h3>

                                <p>Kasadaki Tutar</p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-pink">
                            <div class="inner">
                                <h3>@ViewBag.d15</h3>

                                <p>Bugünkü Satşlar</p>
                            </div>


                        </div>

                    </div>


                </div>
                    </div>

</div>
